@charset "utf-8";

/* 레이아웃  */
#header {
    position: absolute;
    top: 0; left: 0;
    right: 0;
    z-index: 100;
}
#mNav {
    display: none;
    position: absolute;
    right: 14px; top: 14px;
}
#banner {}
#about {
    background-color: #f6f2ec;
}
#guide {
    background: url(../img/brguide.jpg) no-repeat center center /cover;
}
#product {}
#news {}
#customers {
    background-color: #f6f2ec;
}
#footer {
    background-color: #605b59;
}
/* 센터 정렬 */
.container {
    position: relative;
    width: 1280px;
    margin: 0 auto;
}

/* 공통style */

h3.title {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    letter-spacing: -1px; 
    font-size: 40px;
    color: #e94d50;
    text-align: center;
    position: relative;
}
p.title_sub {
    font-size: 30px;
    color: #e94d50;
    text-align: center;
    font-weight: 300;
    letter-spacing: -1px;
    line-height: 1.3;
    margin: 1em 0 2.7em;
    position: relative;
}
/* 로우 영역 */
.row {padding: 0 28px;}


/* 헤더 영역 */
.header {}
.header::after {content: ""; display: block; clear: both;}
.header h1 {
    width: 15%;
    float: left;
}
.header h1 a {
    display: block;
    padding: 18px 65px 18px 0;
}
.header h1 a img {
    width: 120px;
}

.nav {
    width: 85%;
    float: left;
}
.nav .gnb {
    width: 68%;
    margin-right: 2%;
}
.nav .gnb > li {
    float: left;
    width: 25%;
    text-align: center;
}
.nav .gnb > li > a {
    display: block;
    font-size: 18px;
    font-weight: 500;
    color: #fff;
    padding: 2.3em 0.5em 1.6em;
}
.nav .gnb .dropdown {
    background-color: rgba(230, 48, 57, 0.7);
    border-top: 2px solid #fff;
    padding: 1em;
}
.nav .gnb .dropdown li a {
    position: relative;
    display: block;
    font-size: 16px;
    color: #fff;
    padding: 1em 2em;
    transition: 0.3s;
}

.nav .login {
    float: right;
    width: 30%;
}
.nav .login li {
    float: left;
    position: relative;
}
.nav .login li a {
    display: block;
    font-size: 14px;
    color: #fff;
    padding: 3.2em 0.5em 2em;
}
.nav .login li a span.log {
    width: 17px;
    height: 17px;
    display: inline-block;
    background: url(../img/login.png) no-repeat center center /cover;
    vertical-align: middle;
    margin: -4px 3px 0 0;
}
.nav .login li:first-child:after {
    content: "";
    width: 1px;
    height: 10px;
    background: #fff;

    position: absolute;
    top: 46px; right: -1px; 
}

/* 모바일 메뉴 */
.header #mNav .ham {
    display: block;
    width: 25px; 
    height: 10px;
    padding: 15px 10px 10px;
}
.header #mNav .ham span {
    position: relative;
    display: block;
    width: 25px;
    height: 4px;
    background-color: #e94d50;
}
.header #mNav .ham span:before {
    content: "";
    width: 25px;
    height: 4px;
    background-color: #e94d50;
    position: absolute;
    left: 0; bottom: -8px;
}
.header #mNav .ham span:after {
    content: "";
    width: 25px;
    height: 4px;
    background-color: #e94d50;
    position: absolute;
    left: 0; top: -8px;
}

/* 배너 영역 */
.slider {
    position: relative;
    width: 100%;
    height: 700px;
    overflow: hidden;
}
.slider .slideshow_slides {
    position: absolute;
    top: 0; left: 0;
    width: 300%;
    height: 100%;
}
.slider .slideshow_slides > div {
    width: 33.3333%;
    float: left;
}
.slider .banner1 {
    width: 100%;
    height: 100%;
    background: url(../img/banner1.jpg) no-repeat center center /cover;
}
.slider .banner1 h2 {
    padding-top: 220px;
    text-align: center;
}
.slider .banner1 h2 img {
    width: 400px;
}
.slider .banner1 h2 em {
    display: block;
    font-size: 36px;
    color: #fff;
    font-weight: 300;
    margin-top: 0.5em;
}
.slider .banner1 p {
    text-align: center;
    font-size: 24px;
    font-weight: 300;
    color: #fff;
    margin-top: 1.45em;
}
.slider .pagination {
    position: absolute;
    bottom: 45px; left: 50%;
    transform: translateX(-50%);
    width: 330px;
    height: 3px;
    background-color: rgba(255, 255, 255, 0.5);
    z-index: 10;
}
.slider .pagination .current_bar {
    width: 110px;
    height: 100%;
    background-color: rgba(255, 255, 255, 1.0);
    z-index: 10;
}
.slider button {
    width: 32px;
    height: 65px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
    opacity: 0.7;
}
.slider button.next {
    right: 5%;
    background: url(../img/next.png) no-repeat center center /cover;
}
.slider button.prev {
    left: 5%;
    background: url(../img/prev.png) no-repeat center center /cover;
}

.slider .banner2 {
    width: 100%;
    height: 100%;
    background: url(../img/banner2.jpg) no-repeat center center /cover;
}
.slider .banner2 h2 {
    position: absolute;
    top: 380px; left: 130px;
    font-size: 40px;
    color: #e0dec1;
    line-height: 1.3;
}
.slider .banner2 h2 span.six {
    display: inline-block;
    width: 100px;
    height: 200px;
    background: url(../img/six.png) no-repeat center center /cover;
    margin-right: 10px;
}
.slider .banner2 h2 .wrap {
    display: inline-block;
    vertical-align: bottom;
    padding-bottom: 10px;
}
.slider .banner2 h2 em {
    font-weight: 300;
}
.slider .banner2 h2 strong {
    display: block;
    font-weight: bold;
}
.slider .banner2 p {
    font-size: 32px;
    font-weight: 200;
    color: #e0dec1;
    line-height: 1.2;
    letter-spacing: -1px;
    position: absolute;
    top: 180px; right: 100px;
}

.slider .banner3 {
    width: 100%;
    height: 100%;
    background: url(../img/banner3.jpg) no-repeat center center /cover;
}
.slider .banner3 h2 {
    position: absolute;
    top: 150px; right: 250px;
    color: #fcd3c1;
}
.slider .banner3 h2 em {
    display: block;
    line-height: 1.2;
    font-size: 40px;

}
.slider .banner3 h2 span.kanu {
    display: block;
    width: 270px;
    height: 70px;
    margin: 20px 0;
    background: url(../img/kanu_logo.png) no-repeat center center /cover;
}
.slider .banner3 h2 strong {
    display: block;
    margin: 0 13%;
    text-align: center;
    font-size: 30px;
    font-weight: 500;
    line-height: 1.7;
    background-color: #743027;
}

/* about */
.about {
    position: relative;
    padding: 250px 0 150px;
}
.about h3 {
    text-align: center;
    position: relative;
}
.about h3:before {
    content: "";
    width: 3px;
    height: 80px;
    background-color: #e94d50;
    position: absolute;
    bottom: 90px; left: 50%;
    transform: translateX(-50%);
}
.about .slogan:after {content: ""; display: block; clear: both;}
.about .slogan li {
    float: left;
    width: 32%;
    height: 530px;
    box-sizing: border-box;
    background-color: #fff;
    margin-right: 2%;
    text-align: center;
    padding: 4em 3em 3em;
    position: relative;
}
.about .slogan li:last-child {
    margin-right: 0;
}
.about .slogan li span {
    margin: 0 auto;
    display: block;
}
.about .slogan li span.coffeebean {
    width: 100px;
    height: 125px;
    background: url(../img/coffeebean.png) no-repeat center center /cover;
}
.about .slogan li span.tech {
    width: 100px;
    height: 125px;
    background: url(../img/doubleshot.png) no-repeat center center /cover;
}
.about .slogan li span.coffee {
    width: 126px;
    height: 126px;
    background: url(../img/coffee.png) no-repeat center center /cover;
}
.about .slogan li em {
    display: block;
    font-size: 26px;
    font-weight: 600;
    margin-top: 10%;
}
.about .slogan li p {
    margin-top: 13%;
    font-size: 18px;
    line-height: 1.5;
    font-weight: 300;
}

/* guide 영역 */
.guide {
    position: relative;
    text-align: center;
    padding: 170px 0 40px;
}
.guide h4 {
    font-size: 65px;
    color: #fff;
    font-weight: 600;
    letter-spacing: -1px;
    margin-bottom: 0.3em;
}
.guide em{
    width: 205px;
    height: 65px;
    background: url(../img/find_your_coffee.png) no-repeat center center /cover;

    position: absolute;
    top: 35px; left: 0;
}
.guide .guide_list{
    margin-bottom: 3em;
}
.guide .guide_list li {
    position: relative;
    display: inline-block;
    font-size: 24px;
    color: #fff;
    margin-right: 1.4em;
}
.guide .guide_list li:after {
    content: "";
    width: 2px;
    height: 18px;
    background: #fff;

    position: absolute;
    top: 4px; right: -18px; 
}
.guide .guide_list li:last-child:after{display: none;}
.guide a{
    display: inline-block;
    font-size: 24px;
    color: #fff;
    border: 1px solid #fff;
    box-sizing: border-box;
    padding: 0.8em 1em;
    transition: 0.3s;
}
.guide a:hover {
    background-color: #fff;
    color: #000;
    cursor: pointer;
}

/* prduct 영역 */
#product .container {
    width: 100%;
}
#product .row {padding: 0;}


.product {
    padding-top: 180px;
    text-align: center;
}

.product_tab ul {
    width: 67%;
    margin: 0 auto 100px;
}
.product_tab ul:after {content: ""; display: block; clear: both;}
.product_tab li  {
    float: left;
    width: 25%;

}
.product_tab li a {
    display: block;
    font-size: 22px;
    color: #666;
    font-weight: 500;
    border-bottom: 3px solid #ccc;
    padding: 1.2em 0.5em;
    margin-left: -1px;
}
.product_tab li.on a {
    border-bottom: 3px solid #e94d50;
    color: #e94d50;
}


.product_contents {
    width: 100%;
    height: 550px;
    background-image: linear-gradient(to right, #e94d50 35%, #f6f2ec 35%);
    /* background:  #f6f2ec; */

}
.product_contents:after {content: ""; display: block; clear: both;}
.product_contents .product_desc {
    width: 35%;
    height: 100%;
    float: left;
    box-sizing: border-box;
    color: #fff;
    text-align: left;
    font-weight: 200;
    position: relative;
}
.product_desc .product_infor {
    width: 288px;
    position: absolute;
    top: 50%; right: 12%;
    transform: translateY(-50%);
}
.product_desc .product_infor em {
    display: block;
    font-weight: 300;
    font-size: 24px;
    margin-bottom: 2.3em;
}
.product_desc .product_infor em .kanu_logo {
    display: block;
    width: 240px;
    height: 60px;
    background: url(../img/kanu_logo_white.png) no-repeat center center /cover;
    margin-top: 0.5em;
}
.product_desc .product_infor em .mochagold_logo {
    display: block;
    width: 235px;
    height: 66px;
    background: url(../img/mocha_logo.png) no-repeat center center /cover;
    margin-top: 0.5em;
}
.product_desc .product_infor em .top_logo {
    display: block;
    width: 180px;
    height: 66px;
    background: url(../img/top_logo.png) no-repeat center center /cover;
    margin-top: 0.5em;
}
.product_desc .product_infor em .sig_logo {
    display: block;
    width: 270px;
    height: 38px;
    background: url(../img/sig_logo.png) no-repeat center center /cover;
    margin-top: 0.5em;
}
.product_desc .product_infor p {
    font-size: 18px;
    font-weight: 300;
    letter-spacing: -1px;
    line-height: 1.5;
    margin-bottom: 2.5em;
    padding-right: 1em;
}
.product_desc .product_infor a.website {
    display: inline-block;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    transition: 0.3s;
    position: relative;
}
.product_desc .product_infor a.website:after {
    content: "";
    width: 0%;
    height: 2px;
    background: #fff;
    position: absolute;
    bottom: -5px; left: 0;
    transition: 0.3s;
}
.product_desc .product_infor a.website:hover:after {
    width: 100%;
}
.product_contents .product_slide {
    width: 65%;
    height: 550px;
    float: left;
    overflow: hidden;
    position: relative;
}
.product_slide .product_list:after {content: ""; display: block; clear: both;}

.product_slide .product_list {
    width: 200%;
    position: absolute;
    top: 0; left: 0;
}
.product_slide .product_list li {
    width: 16.666%;
    height: 550px;
    float: left;
    position: relative;
}
.product_slide .product_list .product_name {
    position: absolute;
    top: 52%; left: 50%;
    transform: translate(-50%, -50%);
}
.product_slide .product_list .product_name img {width: 150px;}
.product_slide .top .product_name img {width: 110px;}
.product_slide .signature .product_name img {width: 125px;}

.product_slide .product_list .product_name em {
    display: block;
    width: 180px;
    font-size: 22px;
    color: #333;
    font-weight: 500;
    line-height: 1.3;
    margin-top: 1.5em;
}

.product_slide .slider_nav .prev,
.product_slide .slider_nav .next {
    position: absolute;
    width: 35px;
    height: 50px;
    background-color: rgba(0, 0, 0, 0.7);
    top: 50%; 
    transform: translateY(-50%);
    z-index: 30;
}
.product_slide .slider_nav button {
    width: 10px;
    height: 18px;
    background: url(../img/prev3.png) no-repeat center center /cover;
    margin-top: 15px;
}
.product_slide .slider_nav .prev {
    left: 0;
    opacity: 0.5;
}
.product_slide .slider_nav .next {
    right: 0;
}
.product_slide .slider_nav .next button {
    background: url(../img/next3.png) no-repeat center center /cover;
}

/* news */

.news {padding: 180px 0 150px;}
.news .news_contents img {
    height: 100%;
    display: block;
    transition: 0.3s;
}
.news .news_contents {
    display: grid;
    grid-gap: 18px;
}
.news .news_contents .contents_title {
    display: block;
    position: absolute;
    top: 15px; left: 15px;
    color: #e94d50;
    font-size: 18px;
    font-weight: 500;
    z-index: 10;
    padding: 0.3em;
    transition: 0.3s;
}
.news .news_contents .event:hover img,
.news .news_contents .tv_cf:hover img,
.news .news_contents .grand_open:hover img,
.news .news_contents .new_product:hover img {
    transform: scale(1.05);
}
.news .news_contents .event:hover .contents_title,
.news .news_contents .tv_cf:hover .contents_title,
.news .news_contents .grand_open:hover .contents_title,
.news .news_contents .new_product:hover .contents_title {
    background-color: #e94d50;
    color: #fff;
}
.event {
    position: relative;
    overflow: hidden;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }
.tv_cf {
    position: relative;
    overflow: hidden;
    grid-column: 2 / 4;
    grid-row: 1 / 2;
  }
.grand_open {
    position: relative;
    overflow: hidden;
    grid-column: 1 / 3;
    grid-row: 2 / 3;
}
.new_product {
    position: relative;
    overflow: hidden;
    grid-column: 3 / 4;
    grid-row: 2 / 3;
}

.news_contents .overlay {
    display: none;
    position: absolute;
    top: 0; bottom: 0;
    left: 0; right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 50;
}
.news_contents .overlay .more {
    width: 50px;
    height: 50px;
    background: url(../img/add.png) no-repeat center center /cover;
    opacity: 0.7;
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
  
}
.news_contents .overlay .more span {
    display: block;
    margin-top: 55px;
    color: #fff;
}

/* customer */
.customers {padding: 130px 0;}
.customers .service:after {content: ""; display: block; clear: both;}
.customers .service li {
    float: left;
    width: 25%;
    box-sizing: border-box;
    border-left: 1px solid #ccc;

}
.customers .service li:first-child {
    border-left: none;
}
.customers .service li a {
    display: block;
    text-align: center;
    padding: 1.5em 2.8em;
    color: #333;
}
.customers .service li a .img_svg {
    display: block;
    width: 60px;
    height: 60px;
    background: #fff;
    border-radius: 50%;
    margin: 0 auto;
    position: relative;
}
.customers .service li a .img_svg svg {
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    width: 40px;
    height: 40px;
}
.customers .service li a strong {
    display: inline-block;
    font-size: 20px;
    font-weight: 500;
    margin-top: 1.5em;
    line-height: 1.2;
}
.customers .service li a p {
    font-size: 18px;
    margin-top: 1.1em;
    line-height: 1.4;
    font-weight: 300;
}


/* footer */
.footer {padding: 80px 0;}
.footer .notice {
    overflow: hidden;
    margin-bottom: 40px;
}
.footer .notice h4 {
    float: left;
    width: 15%;
    font-size: 20px;
    font-weight: 400;
    text-align: center;
    color: #fff;
    line-height: 30px;
}
.footer .notice ul {
    float: left;
    width: 75%;
    height: 30px;
    overflow: hidden;
}
.footer .notice li .date {
    display: inline-block;
    font-size: 15px;
    font-weight: 200;
    margin-left: 1.5em;
}
.footer .notice li a {
    display: block;
    color: #fff;
    font-size: 20px;
    font-weight: 300;
    line-height: 30px;
    padding-left: 1em;
}
.footer .notice > span {
    float: left;
    width: 10%;
}
.footer .notice > span > a {
    display: block;
    color: #fff;
    text-align: right;
    margin-top: 9px;
}
.footer .footer_info ul {
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    padding: 20px 10px;
    margin-bottom: 30px;
}
.footer .footer_info ul li {
    display: inline-block;
    position: relative;
}
.footer .footer_info ul li:after {
    content: "";
    width: 1px;
    height: 12px;
    background: #fff;
    position: absolute;
    top: 3px; left: -13px;
}
.footer .footer_info ul li:first-child:after {display: none;}
.footer .footer_info ul li a {
    display: block;
    font-size: 14px;
    color: #fff;
    font-weight: 200;
    margin-right: 1.5em;
}
.footer .footer_info address p {
    font-size: 14px;
    color: #fff;
    line-height: 1.6;
    font-weight: 200;
}
.footer .footer_info address span {margin-left: 20px;}



@media (max-width: 1290px) {
    .container {
        width: 100%;
    }
    .product_slide .product_list {width: 300%;}
}
@media (max-width: 1024px) {
    .slider .banner3 h2 {
        right: 12%;
    }
    .product_tab ul {
        width: 80%;
    }
    .product_slide .product_list {width: 300%;}
   
}
@media (max-width: 960px) {
    body {background-color: #f6f2ec;}
    p.title_sub {font-size: 30px;}
    .about > p {
        position: absolute;
        top: 22%; left: 6%;
        width: 34%;
        font-size: 30px;
        box-sizing: border-box;
    }
    .about .slogan li:first-child {
        margin: 0 0 2% 51%;
    }
    .about .slogan li:last-child {
        margin-left: 2%;
    }
    .about .slogan li {
        width: 49%;
        height: 490px;
        margin: 0;
        padding: 3em 2em;
    }
    .about {padding: 200px 0 28px;}
    .about > p br {display: none;}
    .about .slogan {margin-top: 70px;}

    .guide {
        padding: 130px 0 30px;
    }
    .guide h4 {
        font-size: 46px;
        font-weight: 500;
    }
    .guide em {
        width: 165px;
        height: 50px;
        top: 24px;
    }
    .guide .guide_list li {
        font-size: 18px;
        margin-right: 20px;
    }
    .guide .guide_list li:after {
        height: 14px;
        top: 3px;
        right: -13px;
    }
    .guide a {
        font-size: 18px;
    }

    #product .row {
        background-color: #fff; 
        padding: 24px;
        margin: 24px;
    }
    .product {padding-top: 100px;}
    .product h3.title {margin-bottom: 0;}
    
    .product_contents {
        background-image: none;
        background: #f6f2ec;
    }
    .product_tab ul {
        width: 100%;
        margin: 0 0 50px;
    }
    .product_tab li {
        position: relative;
    }
    .product_tab li a {
        border: none;
    }
    .product_tab li.on a {
        background-color: #fff;
        color: #e94d50;

    }
    .product_tab li.on:after{
        content: "";
        width: 100%;
        height: 2px;
        background-color: #e94d50;
        position: absolute;
        bottom: 0; left: 0;
    }
    .product_contents,
    .product_contents .product_slide,
    .product_slide .product_list li {height: 450px;}

    .product_contents .product_desc {display: none;}
    .product_contents .product_slide {width: 100%;}
    .product_slide .product_list {width: 200%;}
    .product_slide .product_list .product_name em {font-size: 16px;}

    .product_slide .top .product_name img {width: 95px;}

    #news .row {
        background-color: #fff;
        padding: 24px;
        margin: 24px;
    }
    .news {padding: 100px 0 0;}

    #customers .row {
        background-color: #fff;
        padding: 24px;
        margin: 24px;
    }
    .customers {padding: 80px 0 0;}
    .customers .service li a {padding: 1.5em;}
    .customers .service li a p {display: none;}
    .customers .service li a .img_svg {
        width: 100px;
        height: 100px;
        background-color: #f6f2ec;
    }
    .customers .service li a .img_svg svg {
        width: 60px;
        height: 60px;
    }
    #footer .row {padding: 0 24px;}
}
@media (max-width: 768px) {
    body {background-color: #f6f2ec;}
    .row {padding: 0 24px;}
    h3.title {font-size: 30px;}
    p.title_sub {font-size: 24px;}
    #header {
        height: 70px;
        background-color: #fff;
    }
    .header #mNav{
        display: block;
        top: 19px;
    }
    .header h1{
        width: 100%;
        text-align: center;
    }
    .header h1 a {padding: 15px 0 0;}
    .header h1 a img {width: 105px;}
    .nav {display: none;}

    .slider {
        height: 550px;
        margin-top: 70px;
    }
    .slider .banner1 h2 {padding-top: 180px;}
    .slider .banner1 h2 img {width: 300px;}
    .slider .banner1 h2 em {font-size: 28px;}
    .slider .banner1 p {font-size: 18px;}

    .slider .banner2 h2 {
        font-size: 30px;
        top: 330px; 
    }
    .slider .banner2 h2 span.six {
        width: 75px;
        height: 150px;
    }
    .slider .banner2 p {
        top: 150px;
        font-size: 25px;
    }
    .slider .pagination {
        bottom: 30px;
        width: 270px;
    }
    .slider .pagination .current_bar {width: 90px;}

    .slider .banner3 h2 {
        top: 85px;
    }
    .slider .banner3 h2 em {font-size: 28px;}
    .slider .banner3 h2 span.kanu {
        width: 190px;
        height: 48px;
        margin: 10px 0;
    }
    .slider .banner3 h2 strong {
        font-size: 22px;
    }
    .slider button {
        width: 25px; height: 50px;
    }
    .about {
        padding: 100px 0 16px;
    }
    .about .slogan {
        margin-top: 100px;
    }

    .about h3:before {
        height: 50px;
        bottom: 50px;
    }

    .product_tab li a {font-size: 16px;}
    .product_slide .product_list {width: 300%;}
    .product_slide .slider_nav .prev, 
    .product_slide .slider_nav .next {
        width: 30px;
        height: 40px;
    }
    .product_slide .slider_nav button {
        width: 6px;
        height: 15px;
        margin-top: 13px;
    }
    .news .news_contents {
        grid-gap: 15px;
    }
    .event {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
      }
    .tv_cf {
        grid-column: 1 / span 2 ;
        grid-row: 2 / 3;
      }
    .grand_open {
        grid-column: 1 / span 2;
        grid-row: 3 / 4;
    }
    .new_product {
        grid-column: 2 / 3;
        grid-row: 1 / 2;
    }
    
    .news .news_contents .contents_title {
        top: 5px;
        left: 5px;
        font-size: 14px;
    }
    .customers .service li a p {display: none;}

    .footer {
        padding: 50px 0;
    }
    .footer .notice {
        margin-bottom: 20px;
    }
    .footer .notice h4 {
        width: 20%;
        font-size: 16px;
    }
    .footer .notice ul {width: 80%;}
    .footer .notice > span > a {display: none;}
    .footer .notice li .date {display: none;}
    .footer_info {text-align: center;}
    .footer .notice li a {font-size: 16px;}
} 
@media (max-width: 600px) {
    .row {padding: 0 16px;}
    p.title_sub {font-size: 22px;}
    .about .slogan li:first-child {
        margin: 0 0 16px;
    }
    .about > p {
        position: static;
        width: 100%;
        font-size: 22px;
        box-sizing: border-box;
        padding: 0;
    }
    .about .slogan {margin-top: 50px;}
    .about .slogan li {
        width: 100%;
        height: auto;
        margin: 0 0 16px 0;
        
    }
    .about .slogan li:last-child{
        margin-left: 0;
        margin-bottom: 0;
    }
    .about .slogan li em,
    .about .slogan li p {
        margin-top: 8%;
    }
    .guide {
        padding: 90px 20px 20px
    }
    .guide h4 {
        font-size: 36px;
        margin-bottom: 0.7em;
        line-height: 1.2;
    }
    .guide .guide_list {display: none;}
    .guide em {
        width: 120px;
        height: 38px;
        top: 16px;
    }
    .guide a {font-size: 14px;}

    #product .row {
        padding: 8px;
        margin: 8px;
    }
    .product {padding-top: 60px;}


    #news .row {
        padding: 8px;
        margin: 8px;
    }
    .news {padding-top: 60px;}
    
    #customers .row {
        padding: 8px;
        margin: 8px;
    }
    .customers {padding-top: 50px;}
    .customers .service li {width: 50%;}

    .customers .service li:nth-child(1),
    .customers .service li:nth-child(2) {border-bottom: 1px solid #ccc;}
    .customers .service li:nth-child(3) {border-left: none;}
    
    .customers .service li a {
        padding-top: 2em;
    }
    #footer .row {
        padding: 0 18px;
    }

}
@media (max-width: 480px) {
    h3.title {font-size: 24px;}
    p.title_sub {font-size: 18px;}
    #header {height: 50px;}
    .header #mNav {
        top: 11px; right: 7px;
    }
    .header h1 a {padding-top: 8px;}
    .header h1 a img {width: 90px;}

    .slider {
        height: 450px;
        margin-top: 50px;
    } 
    .slider .banner1 h2 {padding-top: 150px;}
    .slider .banner1 h2 img {width: 200px;}
    .slider .banner1 h2 em {font-size: 20px;}
    .slider .banner1 p {font-size: 14px;}
    
    .slider .banner2 h2 {
        top: 295px; left: 30px;
        font-size: 22px;
    }    
    .slider .banner2 h2 span.six {
        margin-right: 5px;
        width: 50px;
        height: 100px;
    }
    .slider .banner2 p {
        top: 120px; right: 25px;
        font-size: 20px;
    }

    .slider .banner3 h2 em {
        font-size: 20px;
    }
    .slider .banner3 h2 span.kanu {
        width: 160px;
        height: 40px;
    }
    .slider .banner3 h2 strong {
        font-size: 16px;
    }
    .slider .pagination {
        width: 210px;
        height: 2px;
    }
    .slider .pagination .current_bar {width: 70px;}
    .slider button {display: none;}

    .about > p {
        font-size: 18px;
    }
    .about .slogan {margin-top: 60px;}
    .about .slogan li span.coffeebean, 
    .about .slogan li span.tech {
        width: 80px;
        height: 102px;
    }
    .about .slogan li span.coffee {
        width: 80px;
        height: 80px;
    }
    .about .slogan li em {
        font-size: 22px;
    }
    .about .slogan li p {
        font-size: 14px;
    }
    .product {
        padding-top: 30px;
    }
    .product_tab li a {font-size: 14px;}
    .product_slide .product_list {width: 600%;}
    .product_contents, 
    .product_contents .product_slide, 
    .product_slide .product_list li {height: 400px;}

    .product_slide .top .product_name img {width: 80px;}

    .guide h4 {font-size: 30px;}
    .guide em {
        width: 99px;
        height: 31px;
    }

    .news {padding-top: 30px;}
    .news .news_contents {grid-gap: 8px;}
    .event {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
      }
    .tv_cf {
        grid-column: 1 / 2 ;
        grid-row: 2 / 3;
      }
    .grand_open {
        grid-column: 1 / 2;
        grid-row: 4 / 5;
    }
    .new_product {
        grid-column: 1 / 2;
        grid-row: 3 / 4;
    }


    .customers {padding-top: 30px;}
    .customers .service li a {
        padding-right: 0;
        padding-left: 0;
    }
    .customers .service li a strong {font-size: 18px;}
    
    .footer .notice h4 {
        width: 100%;
        text-align: center;
        margin-bottom: 5px;
    }
    .footer .notice ul {width: 100%;}
    .footer .footer_info address p {
        font-size: 12px;
        line-height: 1.3;
    }
@media (max-width: 360px) {
}