@charset "utf-8";
html{font-size: 10px;}


/* 센터 정렬 */
.container {
    width: 1290px;
    margin: 0 auto;
}
h2.title {
    position: relative;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    text-align: center;
    color: #e94d50;
    font-size: 4rem;
    letter-spacing: -1px; 
}
p.title_sub {
    font-size: 3rem;
    color: #e94d50;
    text-align: center;
    font-weight: 300;
    letter-spacing: -1px;
    line-height: 1.3;
    margin: 3rem 0 9rem;
    position: relative;
}
.hide > .show {
    opacity: 0;
    visibility: hidden;
    transform: translateY(100px);
    transition: all 0.4s;
}
.hide.active > .show {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}
.hide > .show:nth-child(1){transition-delay: 0;}
.hide > .show:nth-child(2){transition-delay: 0.5s;}
.hide > .show:nth-child(3){transition-delay: 1.0s;}

::selection{
    background: #e94d50;
    color: #ffffff;
}
/* 로우 영역 */
.row {padding: 0 28px;}

/* 스킵메뉴 */
#skip {position: relative;}
#skip a {
    position: absolute;
    left: 0; top: -40px;
    width: 120px;
    height: 25px;
    font-size: 1.4rem;
    font-weight: 400;
    text-align: center;
    color: #fff;
    background-color: #e94d50;
    border: 1px solid #fff;
    z-index: 9999;
}
#skip a:active, #skip a:focus {top: 0;}

/* topbutton */
#top {
    position: fixed;
    bottom: 0; right: -6rem;
    z-index: 9999;
    transition: 0.3s;
}
#top a {
    display: block;
    width: 6rem;
    height: 6rem;
    font-size: 2rem;
    background-color: #e94d50;
    color: #fff;
    position: relative;
}
#top a em {
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
}

/* 헤더 영역 */
#header {
    position: absolute;
    top: 0; left: 0;
    right: 0;
    z-index: 100;
}
.header h1 {
    width: 15%;
    float: left;
}
.header h1 a {
    display: block;
    padding: 1.8rem 6.5rem 1.8rem 0;
}
.header h1 a img {width: 12rem;}
.nav {
    width: 85%;
    float: left;
}
.nav .gnb {
    width: 71%;
    margin-right: 2%;
}
.nav .gnb > li {
    float: left;
    width: 25%;
    text-align: center;
}
.nav .gnb > li > a {
    display: block;
    font-size: 1.8rem;
    font-weight: 500;
    color: #fff;
    padding: 4rem 0.9em 2.8rem;
}
.nav .gnb .dropdown {
    background-color: rgba(255, 255, 255, 0.9);
    border-top: 2px solid #e94d50;
    opacity: 0;
    visibility: hidden;
    transition: 0.3s;
}
.nav .gnb > li:hover .dropdown {
    opacity: 1;
    visibility: visible;
}
.nav .gnb .dropdown li a {
    position: relative;
    display: block;
    font-size: 1.6rem;
    font-weight: 500;
    color: #333;
    padding: 2rem 0;
    transition: 0.2s;
}
.nav .gnb .dropdown li:hover {background-color: #e94d50;}
.nav .gnb .dropdown li:hover a {color: #fff;}
.nav .login {
    float: right;
    width: 27%;
    text-align: right;
}
.nav .login li {
    position: relative;
    display: inline-block;
}
.nav .login li a {
    display: block;
    font-size: 1.4rem;
    color: #fff;
    padding: 4.4rem 0.7rem 2.8rem;
}
.nav .login li a span.log {
    display: inline-block;
    width: 17px;
    height: 17px;
    background-position: -5px -5px;
    vertical-align: middle;
    margin: -4px 3px 0 0;
}
.nav .login li:first-child:after {
    content: "";
    position: absolute;
    top: 4.6rem; right: -0.2rem;
    width: 1px;
    height: 1.1rem;
    background: #fff;
}


/* 모바일 메뉴 */
#mNav {
    display: none;
    position: absolute;
    right: 14px; 
}
.header #mNav .ham {
    display: block;
    width: 2.5rem; 
    height: 1rem;
    padding: 1.5rem 1rem 1rem;
}
.header #mNav .ham span {
    position: relative;
    display: block;
    width: 2.7rem;
    height: 0.4rem;
    background-color: #e94d50;
}
.header #mNav .ham span:before,
.header #mNav .ham span:after {
    content: "";
    width: 2.7rem;
    height: 0.4rem;
    background-color: #e94d50;
    position: absolute;
}
.header #mNav .ham span:before {left: 0; top: -0.9rem;}
.header #mNav .ham span:after {left: 0; bottom: -0.9rem;}


/* 배너 영역 */
.slideshow {
    position: relative;
    width: 100%;
    height: 75rem;
    overflow: hidden;
}
.slideshow .slideshow_slides {
    width: 100%;
    height: 100%;
}
.slideshow .slideshow_slides > div {
    position: absolute;
    top: 0; left: 0;
    width: 100%;
    height: 100%;
}
.slideshow .pagination {
    position: absolute;
    bottom: 4.5rem; left: 50%;
    transform: translateX(-50%);
}
.slideshow .pagination .pagination_bar {
    position: relative;
    width: 33rem;
    height: 0.4rem;
    background-color: rgba(255, 255, 255, 0.5);
    z-index: 10;
}
.slideshow .pagination .pagination_bar .current {
    position: absolute;
    left: 0;
    width: 11rem;
    height: 100%;
    background-color: rgba(255, 255, 255, 1.0);
    z-index: 10;
}
.slideshow button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: block;
    width: 32px;
    height: 65px;
    opacity: 0.7;
    cursor: pointer;
    z-index: 200;
}
.slideshow button.next {
    right: 5%;
    background-position: -62px -5px;
}
.slideshow button.prev {
    left: 5%;
    background-position: -24px -5px;
}
.slideshow_slides .banner1 {background: url(../img/banner1.jpg) no-repeat center center /cover;}
.slideshow_slides .banner1 .banner_cont {
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.slideshow_slides .banner1 .banner_cont img {width: 32rem;}
.slideshow_slides .banner1 .banner_cont em {
    display: block;
    font-size: 3.8rem;
    color: #fff;
    font-weight: 300;
    margin-top: 0.7rem;
}
.slideshow_slides .banner1 .banner_cont p {
    text-align: center;
    font-size: 2.2rem;
    font-weight: 300;
    color: #fff;
    line-height: 1.2;
    margin-top: 2rem;
}

.slideshow_slides .banner2 {background: url(../img/banner2.jpg) no-repeat center center /cover;}
.slideshow_slides .banner2 .banner_cont {
    position: absolute;
    bottom: 10rem; left: 15%;
    font-size: 3.8rem;
    color: #e0dec1;
    line-height: 1.3;
}
.slideshow_slides .banner2 .banner_cont span.six {
    display: inline-block;
    width: 90px;
    height: 174px;
    background-position: -100px -5px;
    margin-right: 1rem;
}
.slideshow_slides .banner2 .banner_cont .wrap {
    display: inline-block;
    vertical-align: bottom;
    padding-bottom: 1rem;
}
.slideshow_slides .banner2 .banner_cont em {font-weight: 300;}
.slideshow_slides .banner2 .banner_cont strong {
    display: block;
    font-weight: bold;
}
.slideshow_slides .banner2 p {
    position: absolute;
    top: 18rem;
    left: 60%;
    font-size: 3.2rem;
    font-weight: 200;
    color: #e0dec1;
    line-height: 1.2;
    letter-spacing: -1px;
}

.slideshow_slides .banner3 {background: url(../img/banner3.jpg) no-repeat center center /cover;}
.slideshow_slides .banner3 .banner_cont {
    position: absolute;
    top: 15rem; left: 65%;
    transform: translateX(-50%);
    color: #fcd3c1;
}
.slideshow_slides .banner3 .banner_cont em {
    display: block;
    line-height: 1.2;
    font-size: 3.8rem;
}
.slideshow_slides .banner3 .banner_cont .kanu_logo {
    display: block;
    width: 270px;
    height: 70px;
    background-position: -195px -5px;
    margin: 1rem 0;
}
.slideshow_slides .banner3 .banner_cont strong {
    display: block;
    font-size: 3rem;
    font-weight: 500;
    line-height: 1.7;
    text-align: center;
    letter-spacing: 1px;
    background-color: #743027;
}


/* about */
#about {background-color: #f6f2ec;}
.about {
    position: relative;
    padding: 22rem 0 10rem;
}
.about h2 {position: relative;}
.about h2:before {
    content: "";
    position: absolute;
    bottom: 90px; left: 50%;
    transform: translateX(-50%);
    width: 3px;
    height: 80px;
    background-color: #e94d50;
}
.about .slogan_wrap::after {content: ""; display: block; clear: both;}
.about .slogan_wrap > div {
    position: relative;
    float: left;
    width: 32%;
    height: 53rem;
    box-sizing: border-box;
    background-color: #fff; 
    text-align: center;
    margin-right: 2%;
}
.about .slogan_wrap > div .cont {
    position: absolute;
    top: 50%; left: 0;
    transform: translateY(-50%);
}
.about .slogan_wrap > div:last-child {margin-right: 0;}
.about .slogan_wrap > div span {
    display: block;
    margin: 0 auto;
}
.about .slogan_wrap > div span.coffeebean {
    width: 100px;
    height: 125px;
    background-position: -5px -185px;
}
.about .slogan_wrap > div span.tech {
    width: 100px;
    height: 125px;
    background-position: -110px -185px;
}
.about .slogan_wrap > div span.coffee {
    width: 126px;
    height: 126px;
    background-position: -215px -185px;
}
.about .slogan_wrap > div em {
    display: block;
    font-size: 2.6rem;
    font-weight: 600;
    margin-top: 4rem;
}
.about .slogan_wrap > div p {
    width: 80%;
    font-size: 2rem;
    line-height: 1.4;
    font-weight: 300;
    margin: 2.5rem auto 0;
}


/* guide 영역 */
#guide {
    background: url(../img/brguide.jpg) no-repeat center bottom /cover;
}
.guide {
    position: relative;
    text-align: center;
    padding: 15rem 0 5rem;
}
.guide h3 {
    font-size: 5.8rem;
    color: #fff;
    font-weight: 600;
    letter-spacing: 1px;
    line-height: 1.2;
    margin-bottom: 1.5rem;
}
.guide em{
    position: absolute;
    top: 3%; left: 0;
    width: 205px;
    height: 57px;
    background-position: -195px -76px;
}
.guide .guide_list{margin-bottom: 5em;}
.guide .guide_list li {
    position: relative;
    display: inline-block;
    font-size: 2.2rem;
    color: #fff;
    margin-right: 3.5rem;
}
.guide .guide_list li:after {
    content: "";
    position: absolute;
    top: 0.4rem; right: -1.8rem; 
    width: 2px;
    height: 1.8rem;
    background: #fff;
}
.guide .guide_list li:last-child:after{display: none;}
.guide a{
    display: inline-block;
    font-size: 2.2rem;
    color: #fff;
    border: 1px solid #fff;
    box-sizing: border-box;
    padding: 2rem 2.4rem;
    transition: 0.3s;
    cursor: pointer;
}
.guide a:hover {
    background-color: #fff;
    color: #000;
}


/* prduct 영역 */
#product .container {width: 100%;}
#product .row {padding: 0;}
.product {
    text-align: center;
    padding-top: 18rem;
}
.product_tab ul {
    width: 67%;
    margin: 0 auto 10rem;
}
.product_tab ul:after {content: ""; display: block; clear: both;}
.product_tab li  {
    float: left;
    width: 25%;
}
.product_tab li a {
    display: block;
    font-size: 2.4rem;
    color: #666;
    font-weight: 500;
    border-bottom: 3px solid #ccc;
    padding: 2.5rem 1rem;
    margin-left: -1px;
    transition: 0.3s;
}
.product_tab li.on a {
    border-bottom: 3px solid #e94d50;
    color: #e94d50;
}
.product_contents {
    width: 100%;
    height: 55rem;
    background-image: linear-gradient(to right, #e94d50 35%, #f6f2ec 35%);
}
.product_contents:after {content: ""; display: block; clear: both;}
.product_contents .product_desc {
    float: left;
    position: relative;
    width: 35%;
    height: 100%;
    box-sizing: border-box;
    color: #fff;
    font-weight: 200;
    text-align: left;
}
.product_desc .product_infor {
    position: relative;
    height: 100%;
}
.product_desc .product_infor li {
    position: absolute;
    top: 50%; right: 12%;
    width: 288px;
    transform: translateY(-50%);
}
.product_desc .product_infor h4 {
    font-size: 2.4rem;
    font-weight: 400;
    margin-bottom: 5.5rem;
}
.product_desc .product_infor li h4 span {
    display: block;
    margin-top: 1rem;
}
.product_desc .product_infor li h4 .kanu_logo {
    width: 240px;
    height: 60px;
    background-position: -5px -315px;
}
.product_desc .product_infor li h4 .mochagold_logo {
    width: 235px;
    height: 68px;
    background-position: -250px -315px;
}
.product_desc .product_infor li h4 .top_logo {
    width: 181px;
    height: 65px;
    background-position: -5px -380px;
}
.product_desc .product_infor li h4 .sig_logo {
    width: 270px;
    height: 41px;
    background-position: -195px -385px;
}
.product_desc .product_infor li p {
    font-size: 2rem;
    font-weight: 300;
    letter-spacing: -1px;
    line-height: 1.5;
    margin-bottom: 4.5rem;
    padding-right: 1.8rem;
}
.product_desc .product_infor a.website {
    display: inline-block;
    position: relative;
    color: #fff;
    font-size: 1.6rem;
    font-weight: 500;
    transition: 0.3s;
}
.product_desc .product_infor a.website:after {
    content: "";
    position: absolute;
    bottom: -7px; left: 0;
    width: 0%;
    height: 2px;
    background: #fff;
    transition: 0.3s;
}
.product_desc .product_infor a.website:hover:after {width: 100%;}
.product_contents .product_slide {
    position: relative;
    float: left;
    width: 65%;
    height: 55rem;
    overflow: hidden;
}
.product_slide .product_list:after {content: ""; display: block; clear: both;}
.product_slide .product_list {
    position: absolute;
    top: 0; left: 0;
    width: 200%;
}
.product_slide .product_list.signature{
    width: 266%;
}
.product_slide .product_list.signature li {
    width: 12.5%;
}
.product_slide .product_list li {
    float: left;
    position: relative;
    width: 16.666%;
    box-sizing: border-box;
    height: 55rem;
}
.product_slide .product_list li:hover em {color: #e94d50;}
.product_slide .product_list li:hover img {transform: scale(1.1);}
.product_slide .product_list .product_name {
    position: absolute;
    top: 52%; left: 50%;
    transform: translate(-50%, -50%);
}
.product_slide .product_list .product_name img {
    width: 15rem;
    transition: 0.3s;
}
.product_slide .top .product_name img {width: 11rem;}
.product_slide .signature .product_name img {width: 12.5rem;}
.product_slide .product_list .product_name em {
    display: block;
    width: 20rem;
    font-size: 2.4rem;
    color: #333;
    font-weight: 500;
    line-height: 1.3;
    margin-top: 1.5em;
    transition: 0.3s;
}

.product_slide .product_nav .prev,
.product_slide .product_nav .next {
    position: absolute;
    top: 50%; 
    transform: translateY(-50%);
    width: 35px;
    height: 50px;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 30;
}
.product_slide .product_nav .prev:active,
.product_slide .product_nav .next:active {background-color: #e94d50;}
.product_slide .product_nav button {
    width: 10px;
    height: 20px;
    margin-top: 15px;
}
.product_slide .product_nav .prev {left: 0;}
.product_slide .product_nav .next {right: 0;}
.product_slide .product_nav .prev button {background-position: -5px -92px;}
.product_slide .product_nav .next button {background-position: -18px -92px;}


/* news */
.news {padding: 18rem 0 15rem;}
.news .news_contents {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1.5rem;
}
.news .news_contents img {
    height: 100%;
    display: block;
    transition: 0.3s;
}

.news_contents > div {
    position: relative;
    overflow: hidden;
}
.news_contents .event {
    grid-row: 1 / 2;
  }
.news_contents .tv_cf {
    grid-row: 2 / 3;
    grid-column: span 2;
}
.news_contents .grand_open {
    grid-column: 2 / span 2;
    grid-row: 1 / 2;
}
.news_contents .new_product {grid-row: 2 / 3;}
.news_contents .contents_title {
    display: block;
    position: absolute;
    top: 1rem; left: 1rem;
    font-size: 2rem;
    color: #fff;
    background-color: #e94d50;
    font-weight: 500;
    padding: 0.5rem;
    transition: 0.3s;
    z-index: 100;
}
.news_contents > div.active .contents_title {
    color: #e94d50;
    background: #fff;
}
.news_contents > div.active .overlay {display: block;}
.news_contents > div.active img {transform: scale(1.05);}
.news_contents .tv_cf .videowrapper {
    position: relative;
    height: 0;
    padding-bottom: 45.25%;
    padding-top: 30px;
}
.news_contents .tv_cf .videowrapper iframe {
    position: absolute;
    top: 0; left: 0;
    width: 100%;
    height: 100%;
}
.news_contents .overlay {
    /* display: none; */
    position: absolute;
    top: 0; bottom: 0;
    left: 0; right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    transition: 0.3s;
    z-index: 50;
}
.news_contents .overlay .more {
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    width: 50px;
    height: 50px;
    background-position: -35px -75px;
    cursor: pointer;
    z-index: 10;
}
.news_contents .overlay span {
    width: 100px;
    display: block;
    color: #fff;
    font-size: 1.6rem;
    margin: 6rem 0 0 -15px;
}


/* customer */
#customers {background-color: #f6f2ec;}
.customers {padding: 13rem 0 7rem;}
.customers .service:after {content: ""; display: block; clear: both;}
.customers .service li {
    float: left;
    width: 25%;
    box-sizing: border-box;
    border-left: 1px solid #ccc;
}
.customers .service li:first-child {border-left: none;}
.customers .service li a {
    display: block;
    color: #333;
    text-align: center;
    padding: 1.5rem 2.8rem;
}
.customers .service li a .img_svg {
    position: relative;
    display: block;
    width: 6rem;
    height: 6rem;
    background: #fff;
    border-radius: 50%;
    margin: 0 auto;
    transition: 0.3s;
}
.customers .service li a .img_svg svg {
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    width: 4rem;
    height: 4rem;
    fill: #e94d50;
}
.customers .service li a .img_svg:hover {background: #e94d50;}
.customers .service li a .img_svg:hover svg {fill: #fff;}
.customers .service li a strong {
    display: inline-block;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.2;
    margin-top: 2.5rem;
}
.customers .service li a p {
    font-size: 1.8rem;
    line-height: 1.4;
    font-weight: 300;
    margin-top: 2rem;
}


/* footer */
#footer {background-color: #605b59;}
.footer {padding: 8rem 0 5rem;}
.footer .notice {margin-bottom: 7rem;}
.footer .notice h4 {
    float: left;
    width: 10%;
    font-size: 2rem;
    font-weight: 400;
    text-align: center;
    color: #fff;
    margin-right: 2%;
}
.footer .notice_rolling {
    overflow: hidden;
    position: relative;
    float: left;
    width: 78%;
    height: 2rem;
}
.footer .notice .rolling {
    position: absolute;
    top: 0; left: 0;
}
.footer .notice li {
    height: 2rem;
    line-height: 2rem;
}
.footer .notice li .date {
    display: inline-block;
    font-size: 1.6rem;
    font-weight: 200;
    margin-left: 2.4rem;
}
.footer .notice li a {
    display: block;
    font-size: 2rem;
    color: #fff;
    font-weight: 300;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.footer .notice > span {
    float: left;
    width: 10%;
}
.footer .notice > span > a {
    display: block;
    font-size: 1.4rem;
    color: #fff;
    text-align: right;
    margin-top: 1rem;
}
.footer .footer_info ul {
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    padding: 2rem 1rem;
    margin-bottom: 3rem;
}
.footer .footer_info ul li {
    display: inline-block;
    position: relative;
}
.footer .footer_info ul li:after {
    content: "";
    width: 1px;
    height: 1rem;
    background: #fff;
    position: absolute;
    top: 0.6rem; left: -0.9rem;
}
.footer .footer_info ul li:first-child:after {display: none;}
.footer .footer_info ul li a {
    display: block;
    font-size: 1.4rem;
    color: #fff;
    font-weight: 200;
    line-height: 1.5;
    margin-right: 1.5rem;
}
.footer .footer_info address {
    margin-bottom: 2rem;
}
.footer .footer_info address p {
    font-size: 1.4rem;
    color: #fff;
    line-height: 1.6;
    font-weight: 200;
}
.footer .footer_info address span {margin-left: 2rem;}


/* 미디어쿼리 */
@media (max-width: 1290px) {
    .container {width: 100%;}

    .slideshow_slides .banner3 .banner_cont {left: 70%;}

    .product_tab ul {width: 80%;}
    .product_contents {
        background-image: none;
        background: #f6f2ec;
    }
    .product_contents .product_desc {display: none;}
    .product_contents .product_slide {width: 100%;}
    .product_slide .product_list {width: 200%;}
}

@media (max-width: 960px) {
    html {font-size: 9px;} 
    body {background-color: #f6f2ec;}
    .row {padding: 0 24px;}

    #product .row {
        background-color: #fff; 
        padding: 24px;
        margin: 24px;
    }
    #customers .row {
        background-color: #fff;
        padding: 24px 0;
        margin: 24px;
    }
    #footer .row {padding: 0 24px;}

    .about {padding: 22rem 0 8rem;}

    .product {padding-top: 10rem;}
    .product_tab ul {
        width: 100%;
        margin: 0 0 5.5rem;
    }
    .product_tab li {position: relative;}
    .product_tab li a {border: none;}
    .product_tab li.on a {
        background-color: #fff;
        color: #e94d50;
    }
    .product_tab li.on:after{
        content: "";
        width: 100%;
        height: 2px;
        background-color: #e94d50;
        position: absolute;
        bottom: 0; left: 0;
    } 

    #news .row {
        background-color: #fff;
        padding: 24px;
        margin: 24px;
    }
    .news {padding: 10rem 0 0;}

    .customers {padding: 8rem 0 4rem;}
    .customers .service li a p {display: none;}
    .customers .service li a .img_svg {background: #f6f2ec;}
}

@media (max-width: 768px) {
    html {font-size: 8px;}

    #skip {display: none;}
    #header {
        position: static;
        height: 8rem;
        background-color: #fff;
    }
    .header #mNav{
        display: block;
        top: 2.2rem;
    }
    .header h1{
        width: 100%;
        text-align: center;
    }
    .header h1 a {padding: 1.3rem 0 0;}
    .nav {display: none;}

    .slideshow_slides .banner2 p {top: 12rem; left: 60%;}

    .about {padding: 8rem 0 0;}
    .about h2:before {display: none;}
    .about .slogan_wrap > div {
        width: 100%;
        height: 42rem;
        margin: 0 0 3%;
    }
    .about .slogan_wrap > div:last-child {margin-bottom: 24px;}

    .product_slide .product_list {width: 300%;}
    .product_slide .product_list.signature {width: 400%;}

    .news .news_contents {grid-template-columns: repeat(2, 1fr);}
    .news_contents .event {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
      }
    .news_contents .tv_cf {
        grid-column: span 2 ;
        grid-row: 3 / 4;
      }
    .news_contents .grand_open {
        grid-column: span 2;
        grid-row: 2 / 3;
    }
    .news_contents .new_product {
        grid-column: 2 / 3;
        grid-row: 1 / 2;
    }
    .news_contents .overlay span {display: none;}

    .footer {
        text-align: center;
        padding: 6rem 0 4rem;
    }
    .footer .notice h4 {
        width: 22%;
        margin-right: 0;
    }
    .footer .notice ul {width: 80%;}
    .footer .notice > span > a {display: none;}

} 

@media (max-width: 600px) {
    html {font-size: 6px;}
    .icon {background-size: 300px;}
    .row {padding: 0 16px;}
    
    #product .row,
    #news .row,
    #customers .row {
        padding: 16px;
        margin: 16px;
    }
    #footer .row {padding: 0 16px;}

    .slideshow button {
        width: 21px;
        height: 41px;
    }
    .slideshow button.prev {background-position: -14px -3px;}
    .slideshow button.next {background-position: -37px -3px;}
    .slideshow_slides .banner2 .banner_cont span.six {
        width: 54px;
        height: 106px;
        background-position: -60px -3px;
    }
    .slideshow_slides .banner3 .banner_cont .kanu_logo {
        width: 159px;
        height: 43px;
        background-position: -116px -2px;
    }
    .about .slogan_wrap > div:last-child {margin-bottom: 16px;}
    .about .slogan_wrap > div span.coffeebean {
        width: 60px;
        height: 75px;
        background-position: -3px -111px;
    }
    .about .slogan_wrap > div span.tech {
        width: 60px;
        height: 75px;
        background-position: -66px -111px;
    }
    .about .slogan_wrap > div span.coffee {
        width: 76px;
        height: 76px;
        background-position: -129px -111px;
    }

    .guide em {
        width: 123px;
        height: 34px;
        background-position: -117px -46px;
    }

    .product_slide .product_nav .prev,
    .product_slide .product_nav .next {
        width: 20px;
        height: 30px;
    }
    .product_slide .product_nav button {
        width: 6px;
        height: 13px;
        margin-top: 9px;
    }
    .product_slide .product_nav .prev button {background-position: 0 -55px;}
    .product_slide .product_nav .next button {background-position: -9px -55px;}

    .news_contents .overlay .more {
        width: 30px;
        height: 30px;
        background-position: -21px -45px;
        cursor: pointer;
    }

}
@media (max-width: 480px) {
    /* -----------------------------------------------------------------------font-size: 7px */
    html {font-size: 6px;}
    .row {padding: 0 8px;}
    #product .row,
    #news .row,
    #customers .row {
        padding: 8px;
        margin: 8px;
    }

    .about .slogan_wrap > div:last-child {margin-bottom: 8px;}

    .product_slide .product_list {width: 600%;}
    .product_slide .product_list.signature {width: 800%;}

    .guide {padding-top: 13rem;}
    .guide h3 {
        font-size: 5rem;
        margin-bottom: 4.5rem;
    }
    .guide .guide_list {display: none;}

    .news .news_contents {grid-template-columns: 1fr;}
    .news_contents .event {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
    }
    .news_contents .tv_cf {
        grid-column: 1 / 2 ;
        grid-row: 4 / 5;
    }
    .news_contents .grand_open {
        grid-column: 1 / 2;
        grid-row: 3 / 4;
    }
    .news_contents .new_product {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
    }

    .customers .service li {border: none;}

    .footer .notice h4 {text-align: center;} 

}